.heading{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.dashed-underline{
    text-decoration: underline; 
	text-decoration-color: #41644A;
	text-decoration-style: dashed;
}

.about {
    margin: 0;
    border: 0;
    padding: 10% 10% 10px 10%;
    position: relative;
    left: 50px;
}

.education {
    margin: 0;
    border: 0;
    padding: 10px 10% 10px 10%;
    position: relative;
    left: 50px;
}

.contact-me {
    margin: 0;
    border: 0;
    padding: 10px 10% 10px 10%;
    position: relative;
    left: 50px;
} 

.description{
    margin-top: 50px;
    font-size: 20px;
}
body {
    background-color: #F2E3DB;
    margin: 0;
}

.in-between {
  left: 50px;
  height: 150px;
  background:
    repeating-linear-gradient(to bottom,transparent 0 6px,#41644A 4px 8px) 50%/3px 100% no-repeat;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  td {
    text-align: left;
    min-width: 300px;
    padding: 10px 0 10px 0;
    
  }
  

  
 
  